@font-face {
  font-family: 'descripcion';
  src: url('fuentes/Rolie-Twily.ttf') format('truetype');
}

body {
  background-image: url("https://img.freepik.com/fotos-premium/fondo-textura-pared-cemento-azul_34836-2782.jpg?semt=ais_hybrid&w=740");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: #000000;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  text-decoration: underline;
}

p, label {
  font-family: 'descripcion';
  font-size: large;
}

::selection {
  background-color: #795ADB;
  color: rgb(255, 255, 255);
}

/* ---------------------- */
/*   ESTILOS RESPONSIVE   */
/* ---------------------- */

@media (max-width: 768px) {
  body {
      background-attachment: scroll; /* para que no se corte raro en celu */
      margin: 0;
  }

  main, section, article {
      padding: 0 1rem;
      box-sizing: border-box;
  }

  h1 {
      font-size: 1.5rem;
      padding: 0.75rem;
  }

  h2 {
      font-size: 1.3rem;
  }

  h3 {
      font-size: 1.1rem;
  }

  p,
  label {
      font-size: 1rem;
  }
}

@media (max-width: 480px) {
  h1 {
      font-size: 1.3rem;
  }

  h2 {
      font-size: 1.15rem;
  }
}
