h1{

    border: 10px solid #795ADB;
    color: #ffffff;
    text-align: center;
    background-color: #5AB7DB;
}

.formulario_descripcion{

    text-align: center;
    font-size: 30px;

}

.formulario_datos {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    align-items: center;
    gap: 30px;
    margin: auto;
}

